target/
.classpath
.project
.settings
issuelist.json
issuelist1.json
issuelist2.json
output.csv
annotations.java
supplementalissuelist.json
multirecord_measures.csv
.~lock*
markdown_to_termversion_mapping.ods
